.*
*.o
*.o.*
*.a
*.s
*.ko
*.ko*
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
!.gitignore
*.symvers
*.png
*.jpg
*.jpeg
*.bmp
*.dmp
*.raw
*.out
*.gdb
*.dtb
*.dtbo
*.dto
*.testfiles
*.mod
